#timer, #questions, #submit, #results, #correct, #wrong, #abstain, #again {
  display: none;
}

.question-css{
font-style: bold;
font-family: 'Josefin Slab', serif;
font-size: 30px;
}

.option-css{
font-family: 'Mali', cursive;
font-size: 20px;
font
}

body {
  background: linear-gradient(135deg, pink, cyan, purple, blue)
}

h1, button, h2 {
font-family: 'Black Han Sans', sans-serif;
}

button {
  font-size: 30px;
}

#timer{
  font-family: 'Black Han Sans', sans-serif;
  font-size: 40px;

}